<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364193358086-blnubdo0d23m0nn7n20lnjnlebkh4s43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364193358086-blnubdo0d23m0nn7n20lnjnlebkh4s43</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Wq5lPsoblr64QFcznYoU2Tz7aY9qUAo</string>
	<key>GCM_SENDER_ID</key>
	<string>364193358086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeMarket</string>
	<key>PROJECT_ID</key>
	<string>home-market-app-66d0c</string>
	<key>STORAGE_BUCKET</key>
	<string>home-market-app-66d0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364193358086:ios:12f485fec30f8ef5f63e87</string>
</dict>
</plist>